<div id="container" ></div>
<div 
	id="info" 
	class="tc">
		<input 
			id="next" 
			type="button"
			value="NEXT"
			class="f6 ph4 pv3 mt2 br-pill pointer" 
			disabled
			>
		</input>
		<input 
			id="previous"
			type="button"
			value="PREVIOUS" 
			class="f6 ph4 pv3 mt2 br-pill pointer">
		</input>
		<input 
			id="fix_position"
			type="button"
			value="FIX POSITION"
			class="f6 ph4 pv3 mt2 br-pill pointer">
		</input>
		<input id="reset" type="button" value="reset" class="f6 ph4 pv3 mt2 br-pill pointer"></input>
</div>

<script src="js/three.js"></script>
<script src="js/loaders/OBJLoader.js"></script>
<script src="js/loaders/MTLLoader.js"></script>
<script src="js/loaders/DDSloader.js"></script>
<script src="js/controls/OrbitControls.js"></script>
<script src="js/Detector.js"></script>
<script src="js/libs/stats.min.js"></script>
<script src="js/helpers/visibility.js"></script>
<script src="js/helpers/on_progress.js"></script>
<script src="js/helpers/on_error.js"></script>
<script src="js/helpers/fix_position.js"></script>
<script src="js/render_lego.js"></script>
<script src="js/load_lego.js"></script>

